.card {
    background-color: var(--mh-blob-base)!important;
}

.card-header {
    background-color: var(--mh-blob-base)!important;
}

#app .v-progress-linear__determinate {
    background-color: var(--mh-progress-buffer-base)!important;
}

#app .v-application {
    background-color: var(--mh-background-base)!important;
    background-image: var(--mh-background-grad)!important;
}

#app .false-footer {
    background-color: var(--mh-background-base)!important;
    background-image: var(--mh-background-grad)!important;
}

#app .accordion {
    background-color: var(--mh-blob-base);
}

#app .montly-credit-value {
    color: var(--mh-primary-base);
}

#app .logtype-std {
    color: var(--mh-text-base);
}

#app .logtype-warn {
    color: var(--mh-textc-base);
}

#app .user-credits {
    background-color: var(--mh-blob-base);
    border-color: var(--mh-blob-base);
}

#app .primary-text {
    color: var(--mh-primary-base)!important;
}

#app .router-link-active {
    background-color: var(--mh-blob-base);
}

#app .router-link-active:hover {
    background-color: var(--mh-selected-base);
}

#app .body {
    border-color: var(--mh-blob-base)!important;
}

#app .submenu {
    background-color: var(--mh-blob-base)!important;
    border-color: var(--mh-blob-base)!important;
}

#app .category-menu-list {
    background-color: var(--mh-blob-base);
}

#app .v-list-item {
    background-color: var(--mh-blob-base);
}

#app .submenu-footer {
    background-color: var(--mh-blob-base);
    border-color: var(--mh-blob-base);
}

#app .credits {
    color: var(--mh-primary-base);
}

#app .v-btn__content {
    background-color: var(--mh-primary-base);
    color: var(--mh-text-base);
}

#app .theme--dark.v-application {
    color: var(--mh-text-base);
}

#app .cat-submenu-item[data-v-410661e4] {
    color: var(--mh-text-base);
}

#app .menu-item[data-v-4d4bb72f] {
    color: var(--mh-text-base);
}

#app .v-btn {
    background-color: var(--mh-primary-base)!important;
    border-color: var(--mh-primary-base)!important;
}

#app .v-chip {
    background-color: var(--mh-primary-base)!important;
    border-color: var(--mh-primary-base)!important;
    color: var(--mh-text-base)!important;
}

#app .as-link {
    color: var(--mh-primary-base);
}

#app .card-details > p > a {
    color: var(--mh-primary-base)!important;
}

#app .v-card {
    background-color: var(--mh-blob-base);
}

#app .v-btn.v-btn--icon {
    background-color: unset!important;
}

#app .v-tabs-slider {
    background-color: var(--mh-primary-base);
}

#app .v-expansion-panel {
    background-color: var(--mh-blob-base)!important;
}

#app .content-secondary > .actions >  .v-btn {
    background-color: var(--mh-danger-base)!important;
    border-color: var(--mh-danger-base)!important;
}

#app .v-alert__border {
    background-color: var(--mh-primary-base)!important;
    border-color: var(--mh-primary-base)!important;
}

#app .v-alert {
    background-color: var(--mh-blob-base);
}

#app .row > .d-flex > a {
    color: var(--mh-primary-base);
}

#app .v-tab--active {
    color: var(--mh-primary-base);
}

#app .v-treeview-node--active {
    color: var(--mh-primary-base)!important;
    caret-color: var(--mh-primary-base)!important;
}

#app .v-treeview-node__root .v-treeview-node--active {
    background-color: var(--mh-primary-base)!important;

}

#app .v-btn__content {
    background-color: unset;
}

#app .v-card__subtitle > a {
    color: var(--mh-primary-base);
}

#app .v-toolbar {
    background-color: var(--mh-blob-base);
}

#app .v-data-table__wrapper > table > tbody > tr {
    background-color: var(--mh-blob-base);
}

#app .menu-item:hover {
    background-color: var(--mh-selected-base);
}

#app .secondary-hyperlink-cta[data-v-701b69a5] {
    color: var(--mh-text-base);
}

#app .server-stats .label[data-v-afd5743c] {
    color: var(--mh-text-base);
}

#app .submenu-item[data-v-0c9cd53c]:hover:not(hr) {
    background-color: var(--mh-selected-base);
}

#app .v-card__actions > a {
    color: var(--mh-primary-base);
}

#app .change-nested-card-bk-color {
    background-color: var(--mh-blob-base)!important;
}

#app .card-main {
    background-color: var(--mh-blob-base);
}

#app span > span > b {
    color: var(--mh-primary-base);
}

#app .v-icon {
    color: var(--mh-text-base)!important;
}

#app .card-actions > .alert-cta {
    color: var(--mh-text-base)!important;
}

#app .upload-container {
    color: var(--mh-primary-base);
}

#app .v-navigation-drawer__content {
    background-color: var(--mh-blob-base);
}

#app .menu-item-content > .v-icon {
    color: var(--mh-text-base)!important;
}

#app .menu-bar-trigger > .v-icon {
    color: var(--mh-text-base)!important;
}

#app .v-navigation-drawer__border {
    background-color: var(--mh-blob-base)!important;
}

#app .v-input__icon > .v-icon {
    color: var(--mh-text-base)!important;
}

#app .theme--dark.v-treeview {
    color: var(--mh-text-base)!important;
}

#app .card__actions > div > a {
    color: var(--mh-primary-base)!important;
}

#app .alert-cta {
    color: var(--mh-primary-base)!important;
}

#app .v-progress-circular__overlay {
    color: var(--mh-text-base);
}

#app .v-list-item__content > .v-list-item__title {
    color: var(--mh-text-base);
}

#app .secondary-outlined-cta[data-v-701b69a5] {
    color: var(--mh-plan-base);
}

#app .themed-control.primary-theme.inverse[data-v-6b397aa0] {
    color: var(--mh-text-base);
}

#app .secondary-outlined-cta[data-v-701b69a5] {
    border-color: var(--mh-plan-base);
}

#app .themed-control.primary-theme[data-v-6b397aa0] {
    background-color: var(--mh-plan-base);
    color: var(--mh-text-base);
    border-color: var(--mh-text-base);
}

#app label[data-v-2795e4aa] {
    background-color: var(--mh-blob-base);
}

#app .select[data-v-27fb4fda] {
    background-color: var(--mh-blob-base);
}

#app input[data-v-2795e4aa] {
    color: var(--mh-text-base);
    border: 2px solid var(--mh-text-base);
}

#app input[data-v-2795e4aa]::placeholder {
    color: var(--mh-text-base);
}

#app select option[data-v-27fb4fda] {
    background-color: var(--mh-selected-base);
}

#app select[data-v-27fb4fda] {
    color: var(--mh-text-base);
    border-color: var(--mh-text-base);
}

#app .theme--dark.v-data-table {
    color: var(--mh-text-base);
}

#app .server-list-toolbar[data-v-ace6eb06] {
    color: var(--mh-text-base);
}

#app .theme--dark.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: var(--mh-text-base);
}

#app .notification-card[data-v-2078f2fa] {
    color: var(--mh-text-base);
}

#app .themed-card.secondary-theme.inverse[data-v-53eae8fa] {
    color: var(--mh-text-base);
}

#app .menu-caption[data-v-148631ec] {
    color: var(--mh-text-base);
}

#app .theme--dark.v-tabs>.v-tabs-bar .v-tab:not(.v-tab--active) {
    color: var(--mh-text-base);
}

#app .copyright[data-v-0c9cd53c] {
    color:  var(--mh-text-base);
}

#app img[data-v-0c9cd53c] {
    filter: var(--mh-img-base);
}

#app img[data-v-148631ec] {
    filter: var(--mh-img-base);
}

#app .v-list-item[data-v-148631ec]:hover {
    background-color: var(--mh-selected-base);
}

#app .v-list-item[data-v-148631ec]:hover a[data-v-148631ec] {
    background-color: var(--mh-selected-base);
}

#app .v-list-item[data-v-148631ec]:hover.pt-4.pb-6.v-list-item.theme--dark {
    background-color: var(--mh-blob-base);
}

#app .copyright[data-v-148631ec] {
    color: var(--mh-text-base);
}

#app .submenu-footer .message[data-v-148631ec] {
    color:  var(--mh-text-base);
}

#app .set-fieldset-style[data-v-ebf0b552] {
    border-color: var(--mh-text-base);
}

#app input[data-v-ca3e0700] {
    color: var(--mh-text-base);
}

#app input[data-v-ca3e0700]::placeholder {
    color: var(--mh-text-base);
}

#app span[data-v-ca3e0700] {
    color: var(--mh-text-base);
}

#app label[data-v-ca3e0700] {
    background-color: var(--mh-blob-base);
    border: 2px solid var(--mh-text-base);
}

#app .v-label--active {
    color: var(--mh-primary-base)!important;
}

#app .primary--text {
    color: var(--mh-primary-base)!important;
    caret-color: var(--mh-primary-base)!important;
}

#app .v-list-item__title {
    color: var(--mh-primary-base);
}

#app .primary-outlined-cta {
    border-color: var(--mh-primary-base)!important;
    color: var(--mh-primary-base);
}

#app .primary-cta {
    background-color: var(--mh-primary-base);
    color: var(--mh-text-base);
}

#app .desktop-menu {
    background-color: var(--mh-blob-base);
    border-color: var(--mh-blob-base);
}

#app .v-snack__wrapper {
    background-color: var(--mh-primary-base)!important;
}

#scenecontainer {
    background-color: var(--mh-background-base)!important;
    background-image: var(--mh-background-grad)!important;
}

#app .cm-s-darcula.CodeMirror {
    background-color: var(--mh-code-base)!important;
    background-image: var(--mh-code-grad)!important;
}

#app .v-snack__content {
    color: var(--mh-text-base)!important;
}

#app .menu-item {
    background-color: var(--mh-blob-base);
}

#app .menu li {
    background-color: var(--mh-blob-base);
}

#app .alert-body > svg {
    color: var(--mh-primary-base);
}

:root {
    --mh-background-base: #121212;
    --mh-blob-base: #1e1e1e;
    --mh-primary-base: #2196f3;
    --mh-selected-base: #666666;
    --mh-text-base: #ffffff;
    --mh-danger-base: #ff5555;
}
