/*
    Remove annoying advertisements
*/

.advertisment-rail, .advertisement-server-bar {
    display: none !important;
}

.sc-parent-row {
    background-color: var(--v-blob-base);
}

.v-list-item {
    background-color: var(--v-blob-base);
}

.v-progress-linear__buffer {
    background-color: var(--v-progress-buffer-base);
}

.v-navigation-drawer__content {
    background-color: var(--v-blob-base);
}

.v-navigation-drawer__border {
    display: none!important;
}

.logo-divider.v-divider {
    display: none!important;
}

div.category-menu-list {
    background-color: var(--v-blob-base);
}

div.submenu-footer {
    border-top: unset!important;
    background-color: var(--v-blob-base);
}

div.v-list.secondary-nav.v-sheet.theme--dark {
    background-color: var(--v-blob-base);
    background-image: unset!important;
    border: unset;
}

#app div.v-list-item.active-menu-item {
    background-color: var(--v-selected-base);
}

.handle-container {
    background-color: var(--v-switcher-base);
}

div.v-card__text {
    background-color: var(--v-blob-base);
}

div.d-flex.flex-column.v-card.v-sheet {
    background-color: var(--v-blob-base)!important;
}

.category-menu-list .active-menu-item[data-v-2cbd8d2a], .category-menu-list .v-list-item[data-v-2cbd8d2a]:hover {
    background-color: var(--v-background-base);
}

.category-menu-list[data-v-2cbd8d2a]::-webkit-scrollbar-thumb {
    background-color: var(--v-background-base)!important;
}

button.v-pagination__navigation {
    background-color: var(--v-blob-base)!important;
}

div.d-none.d-md-block.false-footer {
    background-color: var(--v-background-base);
}

button.v-pagination__item.v-pagination__item--active.primary {
    background-color: var(--v-primary-base)!important;
}

div.container {
    background-color: var(--v-background-base);
}

span.v-btn__content {
    color: var(--v-text-base)!important;
}

div.v-card.v-sheet {
    background-color: var(--v-blob-base)!important;
}

div.v-progress-linear__determinate.primary {
    background-color: var(--v-primary-base)!important;
}

div.v-slider__track-fill.primary {
    background-color: var(--v-primary-base)!important;
}

div.v-slider__thumb.primary {
    background-color: var(--v-primary-base)!important;
}

div.v-input--selection-controls__ripple.primary--text::before {
    background-color: var(--v-primary-base)!important;
}

.credits {
    color: var(--v-primary-base)!important;
}

.v-progress-circular {
    color: var(--v-primary-base);
    caret-color: var(--v-primary-base);
}

button.v-pagination__item {
    background-color: var(--v-blob-base)!important;
}

button.v-expansion-panel-header {
    background-color: var(--v-blob-base);
}

.da-active-icon {
    outline: 2px solid var(--v-primary-base)!important;
}

div.v-expansion-panel-content__wrap {
    background-color: var(--v-blob-base);
}

div.v-snack__wrapper.v-sheet.primary {
    background-color: var(--v-primary-base)!important;
}

span.v-btn__content {
    background-color: rgba(0, 0, 0, 0);
}

tbody {
    background-color: var(--v-blob-base);
}

#app button.v-btn.v-btn--icon.v-btn--round.v-size--default {
    background-color: var(--v-blob-base)!important;
}

#app button.v-btn.v-btn--text.v-size--default.v-snack__btn {
    background-color: var(--v-primary-base)!important;
}

#app button.v-btn.v-btn--is-elevated.v-btn--has-bg.v-size--default.error {
    background-color: var(--v-danger-base)!important;
}

#app > div.v-application--wrap > div.dash-div.fill-height > main > div > div > div > section > div:nth-child(2) > div.container.container--fluid > div > div > div.row.flex-nowrap > div > div > div > div > div.scs-main-content.d-flex.flex-column.justify-space-between.col-sm.col-xl-6.col-12 > div > div:nth-child(1) > div:nth-child(4) > button.sc-margin-right.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--dark.v-size--default.error {
    background-color: var(--v-danger-base)!important;
}

#app button.v-btn.v-btn--text.v-size--default {
    background-color: var(--v-blob-base)!important;
}

#app .v-card, #app .v-card .v-list, #app .v-pagination__navigation, #app .v-toolbar, #app aside.v-navigation-drawer {
    background-color: var(--v-blob-base);
}

#app div.v-input__slot {
    background-color: var(--v-blob-base)!important;
}

#app .v-chip {
    background-color: var(--v-primary-base)!important;
}

#app .v-chip__content {
    color: var(--v-text-base);
}

#app span.v-chip.v-chip--no-color.v-size--default {
    background-color: var(--v-info-blurb-base)!important;
}

#app .v-btn {
    background-color: var(--v-primary-base)!important;
}

#app .v-btn--disabled {
    background-color: var(--v-disabled-base)!important;
}

#app .v-app-bar__nav-icon {
    background-color: var(--v-blob-base)!important;
}

#app div.v-list-item.v-list-item--link.active-menu-item.d-flex.flex-column {
    background-color: var(--v-selected-base);
}

:root {
    --v-background-base: #121212;
    --v-blob-base: #1e1e1e;
    --v-primary-base: #2196f3;
    --v-anchor-base: #2196f3;
    --v-disabled-base: #393939;
    --v-selected-base: #666666;
    --v-info-blurb-base: #555555;
    --v-text-base: #ffffff;
    --v-danger-base: #ff5555;
    --v-switcher-base: #363636;
    --v-progress-buffer-base: #1f425d;
}
