:root {
    --v-primary-base: #02a656;
    --v-anchor-base: #02a656;
    --v-disabled-base: #00914a;
    --v-info-blurb-base: #02a656;
    --v-text-base: #ffffff;
    --v-danger-base: #ff5555;
    --v-progress-buffer-base: #206120;
}
