:root {
    --mh-background-base: #1f2430;
    --mh-blob-base: #101521;
    --mh-primary-base: #ae81ff;
    --mh-selected-base: #666666;
    --mh-text-base: #ffffff;
    --mh-danger-base: #ff5555;
}
